// app global css in SCSS form

.momentum-background {
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.momentum-list {
  //max-height: 100vh;
  max-width: 450px;
  min-width: 450px;
  //padding: var(--app-padding);
  //position: absolute;
  //z-index: 2;
  background: rgba(15, 15, 15, 0.925);
  border-radius: 5px;
  //overflow-x: hidden;
  //overflow-y: auto;
  //text-align: left;
  text-shadow: none;
}

.momentum-week-tasks-list {
  max-width: 850px;
  max-height: 450px;
  overflow-y: auto;
}

.momentum-week-day {
  max-width: 300px;
  min-width: 300px;
}

.momentum-list .q-item__label {
  color: #ffffff;
  width: 200px;
  overflow-wrap: break-word;
}

.momentum-done {
  //background-color: $accent;
  .q-item__label {
    text-decoration: line-through;
  }
}

.momentum-add-todo input {
  color: #ffffff;
}

.color-white {
  color: #ffffff;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
}

.m-active-item {
  font-size: 35px;
}

.m-active-time {
  color: #ffffff;
  font-size: 1050%;
}

.m-list-checkbox {
  width: 30px;
  height: 30px;
}

.m-todo-list-wrap {
  padding: 0 400px;
}

.m-focus-list {
  margin-bottom: 100px;
  margin-right: 16px;

  max-height: 700px;

  overflow-y: scroll;
}

.m-focus-list > .momentum-list {
}

.region {
  flex: 1 3 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
